<div
  class="modal"
  data-component="modal"
  data-modal
  >
  <div class="modal__overlay"></div>
  <div class="modal__inner">
  <div class="modal__header">
    <a href="#" class="modal__close-icon" data-modal-close>
      {% render 'icon' with icon: 'close' %}
    </a>
  </div>
    <div class="modal__content rte type-body-regular"></div>
  </div>
</div>