<div class="page-header">
    {% if hide_breadcrumbs != true %}
      <p class="page-header__crumbs type-heading-meta">
        {{ 'general.meta.home' | t }}
        /
        {{ page.title }}
      </p>
    {% endif %}
  <div class="flex-ns justify-between-ns items-center-ns mt4 mb4 mb3-ns tc tl-ns">
    <h1 class="ma0 type-heading-1">{{ title }}</h1>
    {% if subheading %}
      <h2 class="page-header__subheading">{{ subheading }}</h2>
    {% endif %}
  </div>
</div>