{% if product.media.size > 1 %}
  <ul class="product_thumbnail-list" data-product-thumbnails>
    {% for media in product.media %}
      <li class="product_thumbnail">
        <a href="#" class="product_thumbnail__link" data-thumbnail-id="{{ media.id }}" data-product-single-thumbnail>
          <img class="product-single__thumbnail-image" src="{{ media.preview_image.src | img_url: '200x200' }}" alt="{{ image.alt | escape }}">

          {% case media.media_type %}
            {% when 'video' %}
              <div class="product__thumbnail-badge">
                {% render 'icon-play-badge' %}
              </div>
            {% when 'external_video' %}
              <div class="product__thumbnail-badge">
                {% render 'icon-play-badge' %}
              </div>
            {% when 'model' %}
              <div class="product__thumbnail-badge">
                {% render 'icon-3d-badge' %}
              </div>
          {% endcase %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}