<div class="popup-modal shadow" data-popup-modal="{{popup_modal}}">
  <div class="popup-modal__close">X</div>
  <video width="100%" controls>
    <source src="{{video_url}}" type="video/mp4" />
    Your browser does not support HTML video.
  </video>
</div>
