{% render 'page-header' with title: page.title, hide_breadcrumbs: true %}

<section data-component="page class="mw-c center ph3 ph4-ns">
  <div class="type-body-large rte centered-content mb6">
    {{ page.content }}
  </div>
</section>